/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page-gradient {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #D3D3D3 25%, transparent 25%, transparent 75%, #D3D3D3 75%, #D3D3D3),
      linear-gradient( #D3D3D3 25%, transparent 25%, transparent 75%, #D3D3D3 75%, #D3D3D3);
  background-size: 5px 5px;
}

.page-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #E7E7E7, #1A1A1A);
  z-index: -2;
}


.header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: clamp(1rem, 0.982rem + 28.283vw, 6rem);
  padding-bottom: 34.5%;
}

.header-box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  inline-size: 48.8vw;
  height: 46vh;
  border: var(--border);
  text-align: center;
  background-color: white;
}

.header-title {
  margin-bottom: 1.5%;
  font-family: var(--title-font), sans-serif;
  font-size: 4.5vw;
}

.header-paragraph {
  font-family: var(--title-font), sans-serif;
  text-transform: uppercase;
  padding-top: 2%;
  font-size: 1.6vw;
}

.cards-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  border: var(--border);
  width: 48.8vw;
  margin-bottom: 3.2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.card:first-child {
  z-index: 2;
  margin-top: -27.5%;
}

.card-section-title {
  font-family: 'Inter-Variable', sans-serif;
  padding-top: 0.7%;
  padding-left: 1.5%;
  font-variation-settings: 'wght' 780;
  font-size: 112%;
  padding-bottom: 0.8%;
  border-bottom: var(--border);
}

.card-section-paragraph {
  font-family: 'Inter-Variable';
  padding-top: 2.77%;
  padding-left: 3.5%;
  padding-right: 3.7%;
  font-size: 110%;
  font-variation-settings: 'wght' 550;
  word-spacing: 0.043em;
}

.card-section-paragraph:nth-child(3n) {
  margin-top: 1%;
}

.flex-card-button {
  padding-top: 4%;
  align-self: flex-end;
  display: flex;
  margin-right: 4%;
  gap: 1.3vh;
  font-family: var(--title-font), sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 3.7%;
}

.card__like-button {
  border: var(--border);
  position: relative;
  overflow: hidden;
  width: 15.5vh;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--title-font), sans-serif;
  margin-right: -0.4vh;
  font-size: 1.9vh;
  transition: color 0.5s ease-in-out;

}

.card-image-container {
  position: relative;
  height: 100%;
  overflow : hidden;
}

.card-image {
  width: 100%;
}

.label {
  position: absolute;
  font-size: 1.69vh;
  bottom: 95%;
  right: 4%;
  font-family: var(--title-font), sans-serif;
  color: var(--black);
  mix-blend-mode: hard-light;
  text-shadow: rgb(255, 255, 255) 2px 0px, rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) 0px 2px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) -2px 0px, rgb(255, 255, 255) -2px -2px, rgb(255, 255, 255) 0px -2px, rgb(255, 255, 255) 2px -2px;
}

@supports (-webkit-text-stroke: 1px #FFFFFF) {
  .label {
      -webkit-text-stroke: 1px #FFFFFF;
      text-shadow: none;
  }
}

.card:nth-child(2) img {
  filter: grayscale(0.8);
}

.card:nth-child(3) img {
  filter: saturate(600%);
}

.card:nth-child(4) img {
  filter: hue-rotate(35deg);
}

.card:nth-child(5) img {
  filter: invert(80%);
}

.card:nth-child(6) img {
  filter: sepia(90%);
}

.card:nth-child(7) img {
  filter: blur(15px);
  object-fit: cover;
  margin-left: 1%;
}

.card:nth-child(7) .card-section-paragraph:first-of-type {
  border-top: var(--border);
}


.card:nth-child(8) img {
  filter: sepia(15%) hue-rotate(86deg) contrast(105%) invert(5%);
  mix-blend-mode: hard-light;
}

.card__like-button:focus {
  outline: none;
  box-shadow: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.card__like-button:before {
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  
}

.card__like-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  border: 2px solid black;
}

.card__like-button:hover::after {
  transform: translateX(0);
}

.card__like-button:hover .button__text {
  color: white;
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

dialog {
  width: 357px;
  height: 193px;
  overflow: hidden;
  padding: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 0.35%;
}


.footer .button__text {
 padding-left: 1%;
}

.card__like-button-footer {
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  width: 23%;
  border: var(--border);
  position: relative;
  overflow: hidden;
  margin-bottom: 8%;
  mix-blend-mode: difference;
}

.card__like-button-footer:focus {
  outline: none;
  box-shadow: none;
}

.card__like-button-footer:focus-visible {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.card__like-button-footer:before {
  content:'';
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  
}

.card__like-button-footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  border: 2px solid black;
}

.card__like-button-footer:hover::after {
  transform: translateX(0);
  z-index: -1;
  
}

.card__like-button-footer:hover .button__text {
  color: white;
}

.card__like-button-footer:hover .button-discket {
  fill: rgb(255, 255, 255);
}

.card__like-button-footer:last-child {
  width: 100%;
}

.footer .header-paragraph {
  font-size: 90%;
 padding-left: 20%;
 padding-right: 5%;
 margin-top: -15%;
 line-height: 135%;
 margin-bottom: 9%;
}

@media (width <= 750px) {
  .card {
      width: 100%;
      margin-bottom: 13.9%;
      border: 1.5px solid black;
  }

  .header-box-title {
      margin-top: 25%;
      inline-size: 100%;
      height: 34vh;
      margin-bottom: 20%;
  }

  .header {
      padding-top: 0;
  }

  .header-title {
      font-size: 13.2vw;
      margin-bottom: 4%;
  }
  
  .header-paragraph {
      font-size: 3.7vw;
  }

  .card-section-title {
    margin-right: 5%;
  }

  .card-section-paragraph {
      font-variation-settings: 'wght' 300;
      padding: 2.2vh 4vh 0.5vh 2.5vh;
      word-spacing: 0.09em;
  }

  .card-section-paragraph-memory {
    padding-top: 2vh;
}

  .card__like-button {
      width: 14.5vh;
      margin-right: 5%;
  }

  .button__text {
      font-size: 95%;
  }

  .flex-card-button {
      padding-top: 5.8%;
      margin-bottom: 6.5%;
  }

  .card__like-button-footer:first-child {
      width: 85%
  }
  .footer svg:first-child {
      width: 100%;
      display: flex;
      margin-left: 45%;
      height: 5vh;
  }
  .button-discket {
      scale: 1.2;
  }

  .label {
      font-size: 1.4vh;
      bottom: 90%;
  }
}
